body{
    background-color: aqua;
}
form{
    background-color: white;
    box-shadow: 
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.006),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    min-height: 100px;
    width: 40%;
    margin: auto;
    margin-top: 250px;
    padding: 30px 20px;
}
h1{
    text-align: center;
    margin: 0;
}
table{
    margin: auto;
}
label, input{
    margin-top: 10px;
}
.button{
    background-color: green;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 40px 40px #3498db inset,
                0 0 0 0 #3498db;
    transition: all 150ms ease-in-out;
}
.button:hover{
    cursor: pointer;
    background-color: black;
    box-shadow: 0 0 10px 0 #3498db inset,
                0 0 10px 4px #3498db;
}